.white-key {
	-fx-background-color: ivory;
	-fx-border-color: grey;
        -fx-alignment:BOTTOM_CENTER;
}

.white-key:hover {
    -fx-background-color: aqua;
}

.white-key:pressed {
    -fx-background-color: red;
}

.black-key {
	-fx-background-color: black;
	-fx-border-color: grey;
        -fx-text-fill: ivory;
        -fx-alignment:BOTTOM_CENTER;
}

.black-key:hover {
    -fx-background-color: green;
}

.black-key:pressed {
    -fx-background-color: yellow;
}